.footer{
  margin-bottom: 20px;

  @include on-tablet{
    margin-bottom: 30px;
  }

  &__top{
    display: none;
    margin-bottom: 60px;
    width: 100%;

    @include on-tablet{
      @include page-grid;
    }
  }

  &__logo{
    width: 161px;
    height: 26px;
    grid-column: 4/6;
    margin-inline: auto;

    @include hover(transform, scale(1.1));

    @include on-desktop{
      grid-column: 6/8;
    }
  }

  &__icons{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 0 0 30px;

    @include on-tablet{
      margin: 0 0 60px;
    }
  }

  &__text{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #BDBDBD;
  }
}
