.get_in_touch {
  &__content {
    @include page-grid;
  }

  &__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: $main-text-color;
    margin: 0 0 27px;

    grid-column: 1 / -1;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      grid-column: 1 / 5;
      font-size: 36px;
      line-height: 46px;
    }

    @include on-desktop {
      grid-column: 1 / 7;
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 5 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }

    &-email {
      box-sizing: border-box;
      background-color: $c-gray;
      padding: 12px 20px;
      border: 1px solid $light-gray-color;

      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $main-text-color;

      margin-bottom: 20px;
      outline: none;

      &::placeholder {
        color: #bdbdbd;
      }

      &:hover {
        border: 1px solid $green-color;
      }
    }

    &-massage {
      box-sizing: border-box;
      background-color: $c-gray;
      padding: 12px 20px;
      border: 1px solid $light-gray-color;
      max-width: 100%;

      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      height: 104px;
      text-align: start;

      margin-bottom: 30px;
      outline: none;
      color: $main-text-color;

      &::placeholder {
        color: #bdbdbd;
      }

      &:hover {
        border: 1px solid $green-color;
      }
    }

    &__button {
      width: 102px;
      height: 40px;
      background-color: #0db2b3;
      color: #fff;
      align-items: center;
      justify-content: center;
      border: none;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $green-color;
      }
    }
  }
}
