.icon {
  display: flex;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url('../images/icon/Icon-Burger-menu\ \(1\).svg');

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    width: 24px;
    height: 24px;
    background-image: url('../images/icon/Icon-Close\ \(1\).svg');
  }

  &--figure {
    width: 50px;
    height: 40px;
    margin-inline: auto;

    background-image: url('../images/our-story/icon-figure.svg');
  }

  &--sound {
    width: 50px;
    height: 40px;
    margin-inline: auto;

    background-image: url('../images/our-story/icon-sound.svg');
  }

  &--wifi {
    width: 50px;
    height: 40px;
    margin-inline: auto;

    background-image: url('../images/our-story/icon-wifi.svg');
  }

  &--sun {
    width: 50px;
    height: 40px;
    margin-inline: auto;

    background-image: url('../images/our-story/icon-sun.svg');
  }

  &--arrow-left {
    width: 48px;
    height: 14px;
    background-color: #333;
    mask: url('../images/fetures/f-arrow-left.svg') no-repeat center;
    mask-size: contain;
    transition: all 0.3s;

    &:hover {
      background-color: $green-color;
    }
  }

  &--arrow-right {
    width: 48px;
    height: 14px;
    background-color: #333;
    mask: url('../images/fetures/f-arrow-right.svg') no-repeat center;
    mask-size: contain;
    transition: all 0.3s;

    &:hover {
      background-color: $green-color;
    }
  }

  &--facebook {
    width: 24px;
    height: 24px;
    background-image: url('../images/footer/facebook-f.svg');
  }

  &--twitter {
    width: 24px;
    height: 24px;
    background-image: url('../images/footer/twitter-f.svg');
  }

  &--instagram {
    width: 24px;
    height: 24px;
    background-image: url('../images/footer/instagram-f.svg');
  }

  &--arrow-top {
    width: 24px;
    height: 24px;
    justify-self: end;
    grid-column: 8/9;
    background-image: url('../images/footer/arrow-top-f.svg');

    @include on-desktop {
      grid-column: 12/13;
    }
  }
}
