@import 'utils';
@import 'fonts';
@import 'typography';
@import './header';
@import './icon';
@import './top-bar';

body {
  background: $c-gray;
  max-width: 1440px;
  margin-inline: auto;
}


.container{
  @include padding-inline;
}
