$c-gray: #f7f7f7;
$tablet-min-width: 640px;
$desktop-min-widtx: 1440px;
$main-text-color: #333;
$grey-color: #4f4f4f;
$light-gray-color: #828282;
$our-story-descr-color: #7c7c7c;
$green-color: #0c797a;
$bg-features-color: #d6ecec;
