$c-gray: #F7F7F7;
$tablet-min-width: 640px;
$desktop-min-widtx: 1440px;
$main-text-color: #333;
$grey-color: #4F4F4F ;
$light-gray-color: #828282;
$our-story-descr-color: #7C7C7C;
$green-color: #0C797A;
$bg-features-color: #D6ECEC;





